In [20]:
##真夏日・猛暑日の県別
##掲載時点の同年同月を出す

In [24]:
import pandas as pd

In [25]:
#観測地点の一覧
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/meta/points_list.csv'
points = pd.read_csv(url)

In [26]:
#県別の気温（真夏日・猛暑日）、過去分のデータを呼び出し
url = "./data-maxtemp/timeseries-data/jma-maxtemp-temp-by-pref-ts.csv"
by_pref = pd.read_csv(url)

#確認
print(by_pref.pref.nunique())

by_pref.head()

47

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,count
0,2000-01-01,2000,三重県,14.6,11.7,False,False,False,False,False,False,1
1,2000-01-01,2000,京都府,9.6,9.3,False,False,False,False,False,False,1
2,2000-01-01,2000,佐賀県,16.9,16.3,False,False,False,False,False,False,1
3,2000-01-01,2000,兵庫県,12.5,11.2,False,False,False,False,False,False,1
4,2000-01-01,2000,北海道,2.7,-0.7,False,False,False,False,False,False,1

In [50]:
#データ漏れのチェック
test = by_pref.pivot(index='date',columns='pref',values='maxtemp_capitol')
test = test.iloc[:-3].fillna('no_data')
no_data = test.where(test == 'no_data').dropna(how='all').dropna(how='all',axis=1)

In [47]:
no_data_pref = test.where(test == 'no_data').dropna(how='all').dropna(how='all',axis=1).columns.to_list()

In [48]:
points[(points.pref.isin(no_data_pref)&(points.capitol==1))]

     観測所番号  prec_no   国際地点番号 都道府県  name          地点 pref  capitol
374  43241       43      NaN  埼玉県  さいたま  さいたま（サイタマ）  埼玉県      1.0
527  54232       54  47604.0  新潟県    新潟    新潟（ニイガタ）  新潟県      1.0
552  55102       55  47607.0  富山県    富山     富山（トヤマ）  富山県      1.0
621  63518       63  47770.0  兵庫県    神戸     神戸（コウベ）  兵庫県      1.0
625  64036       64  47780.0  奈良県    奈良      奈良（ナラ）  奈良県      1.0
654  66408       66  47768.0  岡山県    岡山    岡山（オカヤマ）  岡山県      1.0
672  67437       67  47765.0  広島県    広島    広島（ヒロシマ）  広島県      1.0
716  72086       72  47891.0  香川県    高松    高松（タカマツ）  香川県      1.0
740  74182       74  47893.0  高知県    高知     高知（コウチ）  高知県      1.0

In [18]:
#最新データを呼び出し