# jma-maxtemp-04-YoY-data

* 定期実行
* 作業内容
    * 真夏日・猛暑日の県別データを呼び出し
    * 過去分と直近分を統合
    * 掲載時点の同年同月を出す

In [35]:
import pandas as pd
import glob

In [36]:
#観測地点の一覧
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/meta/points_list.csv'
points = pd.read_csv(url)

県別の気温（真夏日・猛暑日）、過去分のデータを呼び出し

In [37]:
url = "./data-maxtemp/timeseries-data/jma-maxtemp-temp-by-pref-ts.csv"
by_pref = pd.read_csv(url)

In [25]:
#確認
by_pref.pref.nunique()

47

In [26]:
by_pref

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,count
0,2000-01-01,2000,三重県,14.6,11.7,False,False,False,False,False,False,1
1,2000-01-01,2000,京都府,9.6,9.3,False,False,False,False,False,False,1
2,2000-01-01,2000,佐賀県,16.9,16.3,False,False,False,False,False,False,1
3,2000-01-01,2000,兵庫県,12.5,11.2,False,False,False,False,False,False,1
4,2000-01-01,2000,北海道,2.7,-0.7,False,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...
404806,2023-07-31,2023,静岡県,35.9,32.8,True,True,True,False,False,False,1
404807,2023-07-31,2023,香川県,34.5,33.0,True,True,False,False,False,False,1
404808,2023-07-31,2023,高知県,32.7,32.7,True,True,False,False,False,False,1
404809,2023-07-31,2023,鳥取県,36.9,36.9,True,True,True,True,False,False,1
404810,2023-07-31,2023,鹿児島県,33.1,30.5,True,True,False,False,False,False,1

最新データを呼び出し

In [ ]:
file_dir = "./data-maxtemp/timeseries-data-by-points/data-raw/"

In [ ]:
glob.glob(f'{file_dir}prec-*/**/*202307.csv', recursive=True)