# jma-maxtemp-04-YoY-data

* 定期実行
* 作業内容
    * 真夏日・猛暑日の県別データを呼び出し
    * 過去分と直近分を統合
    * 掲載時点の同年同月を出す

In [35]:
import pandas as pd
import glob

In [36]:
#観測地点の一覧
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/meta/points_list.csv'
points = pd.read_csv(url)

県別の気温（真夏日・猛暑日）、過去分のデータを呼び出し

In [38]:
url = "./data-maxtemp/timeseries-data/jma-maxtemp-temp-by-pref-ts.csv"
by_pref = pd.read_csv(url)

In [39]:
#確認
by_pref.pref.nunique()

47

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol
4,2000-01-01,2000,北海道,2.7,-0.7,False,False,False,False,False,False
41,2000-01-01,2000,青森県,3.9,2.1,False,False,False,False,False,False
36,2000-01-01,2000,秋田県,6.5,4.0,False,False,False,False,False,False
19,2000-01-01,2000,岩手県,6.0,4.7,False,False,False,False,False,False
11,2000-01-01,2000,宮城県,8.6,6.8,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
405095,2023-08-07,2023,佐賀県,36.8,34.3,True,True,True,False,False,False
405123,2023-08-07,2023,熊本県,37.9,35.2,True,True,True,True,False,False
405105,2023-08-07,2023,宮崎県,31.9,30.7,True,True,False,False,False,False
405139,2023-08-07,2023,鹿児島県,35.1,31.8,True,True,True,False,False,False
405121,2023-08-07,2023,沖縄県,33.3,28.6,True,False,False,False,False,False

最新データを呼び出し

In [ ]:
file_dir = "./data-maxtemp/timeseries-data-by-points/data-raw/"

In [ ]:
glob.glob(f'{file_dir}prec-*/**/*202307.csv', recursive=True)