# jma-maxtemp-04-YoY-data

* 定期実行
* 作業内容
    * 真夏日・猛暑日の県別データを呼び出し
    * 過去分と直近分を統合
    * 掲載時点の同年同月を出す

In [35]:
import pandas as pd
import glob

In [36]:
#観測地点の一覧
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/meta/points_list.csv'
points = pd.read_csv(url)

県別の気温（真夏日・猛暑日）、過去分のデータを呼び出し

In [69]:
url = "./data-maxtemp/timeseries-data/jma-maxtemp-temp-by-pref-ts.csv"
data_table = pd.read_csv(url)

In [76]:
data_table

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol
0,2000-01-01,2000,北海道,2.7,-0.7,0,0,0,0,0,0
1,2000-01-01,2000,青森県,3.9,2.1,0,0,0,0,0,0
2,2000-01-01,2000,秋田県,6.5,4.0,0,0,0,0,0,0
3,2000-01-01,2000,岩手県,6.0,4.7,0,0,0,0,0,0
4,2000-01-01,2000,宮城県,8.6,6.8,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
405135,2023-08-07,2023,佐賀県,36.8,34.3,1,1,1,0,0,0
405136,2023-08-07,2023,熊本県,37.9,35.2,1,1,1,1,0,0
405137,2023-08-07,2023,宮崎県,31.9,30.7,1,1,0,0,0,0
405138,2023-08-07,2023,鹿児島県,35.1,31.8,1,1,1,0,0,0
405139,2023-08-07,2023,沖縄県,33.3,28.6,1,0,0,0,0,0

最新データを呼び出し

In [ ]:
file_dir = "./data-maxtemp/timeseries-data-by-points/data-raw/"

In [ ]:
glob.glob(f'{file_dir}prec-*/**/*202307.csv', recursive=True)