In [ ]:
##世界の都市の気温変化のビジュアルを作成する
import pandas as pd
import altair as alt

#import requests
#from bs4 import BeautifulSoup
#from tqdm import tqdm
#import time
#import numpy as np

cities = {
    'london': 'ロンドン',
    'newyork': 'ニューヨーク', 
    'paris': 'パリ', 
    'tokyo': '東京', 
    'beijing': '北京', 
    'bangkok': 'バンコク', 
    'newdelhi': 'ニューデリー', 
    'sidney': 'シドニー', 
    'sanpaulo': 'サンパウロ', 
    'capetown': 'ケープタウン'
    }

#過去データ
filepath = './data-world-cities/2m_temp_1950to1954.csv'
df_past = pd.read_csv(filepath, index_col = 0)
df_past = df_past.rename(columns=cities)
df_past = df_past[cities.values()]

#現在のデータ
filepath = './data-world-cities/2m_temp_2019to2023.csv' 
df_present = pd.read_csv(filepath, index_col = 0)
df_present = df_present.rename(columns=cities)
df_present = df_present[cities.values()]

#描画
#線を引き、過去と現在でopacityを変えている
#作成したチャート10個の搬入先
charts = []

# データの生成
for city in cities.values():
    
    past = df_past.copy()[[city]]
    past['time'] = 'past'
    present = df_present.copy()[[city]]
    present['time'] = 'present'

    data = pd.concat([past, present]).dropna()

    #チャートの生成（エリアと境界線に分ける）
    def create_chart(data, time):
        color = 'gray' if time == 'past' else 'red'
        opacity = 0.2 if time == 'past' else 0.5
        
        chart_area = alt.Chart(data[data['time'] == time]).transform_density(
            density=city,
            as_=[city, 'density'],
        ).mark_area(opacity=opacity).encode(
            x=alt.X(f"{city}:Q", axis=alt.Axis(values = [-20, -10, 0, 10, 20, 30, 40]), scale=alt.Scale(domain=[-20, 50]), title=" (℃)"),
            y=alt.Y("density:Q", axis=None),
            color=alt.value(color),
        ).properties(
            width=150,
            height=80,
        )

    #境界線を黒でひく
        chart_line = alt.Chart(data[data['time'] == time]).transform_density(
            density=city,
            as_=[city, 'density'],
        ).mark_line(color='black', size = 0.4).encode(
            x=f"{city}:Q",
            y="density:Q",
            color = alt.value('black')
        )
        
        return chart_area + chart_line

    # 過去と現在のチャートを作成し、重ねる
    def create_combined_chart(data):
        chart_past = create_chart(data, 'past')
        chart_present = create_chart(data, 'present')
        # 色の凡例を追加
        return (chart_past + chart_present).encode(
            color=alt.Color('time:N', legend=alt.Legend(title="Time Period"))
        ).properties(title=city)

# 10個のチャートを作成
    charts.append(create_combined_chart(data))
    

# チャートを2行5列の形に並べる
row1 = alt.hconcat(*charts[:5])  # 最初の5つのチャートを水平に並べる
row2 = alt.hconcat(*charts[5:])  # 残りの5つのチャートを水平に並べる
final_chart = alt.vconcat(row1, row2)  # 2行のチャートを垂直に並べる

final_chart

,ロンドン,ニューヨーク,パリ,東京,北京,バンコク,ニューデリー,シドニー,サンパウロ,ケープタウン
0,3.469858,5.618036,2.527597,5.546854,-0.368048,31.533731,25.325739,28.232507,26.095285,24.496973
1,10.239771,7.727869,4.082864,9.581079,-3.260321,30.324869,20.555643,29.001627,23.130090,29.275415
2,11.127237,13.393640,9.695154,10.384546,-0.257849,31.505716,19.949899,25.940302,20.977014,29.018091
3,9.428201,18.267892,9.587518,6.377771,0.339578,31.531213,19.966257,22.506403,25.823526,33.879297
4,9.342432,12.491083,8.636423,2.072687,0.234644,32.154932,20.509409,29.908167,27.143198,30.589502
...,...,...,...,...,...,...,...,...,...,...
1821,9.062082,9.171716,9.569788,5.348001,-10.696219,32.465067,20.957574,26.094583,23.951669,19.760187
1822,9.010095,13.429544,9.198068,7.077585,-10.646811,31.841119,20.273218,29.834406,24.993967,21.382440
1823,8.313409,4.387231,7.884134,6.491785,-11.763419,32.217691,19.463831,35.830499,21.848077,21.797083
1824,7.448358,8.061258,7.073755,7.233606,-10.638831,32.718439,19.122583,23.614191,20.975824,27.244287
1825,5.105539,5.049020,3.679819,6.291635,-9.230856,32.624963,18.705881,32.781702,24.627618,27.847437