In [1]:
import pandas as pd

In [2]:
filepath = './data-tokyo/tokyo_max_temp.csv'

In [3]:
pd.read_csv(filepath)

,Unnamed: 0,date,max,year,month,day,month_day,month_day_flourish
0,0,1963-06-01,27.7,1963,6,1,06-01,6/1
1,1,1963-06-02,25.6,1963,6,2,06-02,6/2
2,2,1963-06-03,19.7,1963,6,3,06-03,6/3
3,3,1963-06-04,16.7,1963,6,4,06-04,6/4
4,4,1963-06-05,22.0,1963,6,5,06-05,6/5
...,...,...,...,...,...,...,...,...
7392,7392,2023-08-12,35.5,2023,8,12,08-12,8/12
7393,7393,2023-08-13,32.9,2023,8,13,08-13,8/13
7394,7394,2023-08-14,32.9,2023,8,14,08-14,8/14
7395,7395,2023-08-15,32.8,2023,8,15,08-15,8/15
7396,7396,2023-08-16,32.2,2023,8,16,08-16,8/16