In [3]:
import requests
import pandas as pd
from datetime import datetime

#データ取得
#url = 'https://climatereanalyzer.org/clim/t2_daily/json/cfsr_world_t2_day.json'
url = 'https://climatereanalyzer.org/clim/t2_daily/json_cfsr/cfsr_world_t2_day.json'
response = requests.get(url)
data = response.json()

In [4]:
#不要データをおとす
##{'name': 'yyyy'}なので、'name'に数字（'yyyy'）以外が入っているものを除外
##これで末日にある年間データ以外の不要行（1979-2000 mean, plus 2σ, minus 2σの集計）が除外される
##iloc[:-3]は不要行が末尾以外に移動／増減した場合にうまくいかなくなるのであらかじめ予防できるエラーは防ぐ
data = [{**d} for d in data if d['name'].isdigit()]

#jsonデータをdfに
##dropna()で閏年でない年の末尾についていたnaはなくなる
##dataframeの名前はなるべくdf以外をつかう
world_temp = pd.json_normalize(data, 'data',['name'])
world_temp = world_temp.rename(columns={0:'temp', 'name':'year'}).dropna()

#日付を入れる
##for loopを使うより、元データの数を合わせて日付を入れたほうが速い
world_temp['date'] = pd.date_range(start='1979-01-01', periods=len(world_temp), freq='D')
#popup表示用のテキスト
world_temp['date_popup'] = world_temp.date.dt.strftime('%Y年%-m月%-d日')
##x軸描画用
world_temp['date_x_axis'] = world_temp.date.apply(lambda x: x.replace(year=2000)).dt.strftime('%Y-%m-%d')

#並び順をととのえる
world_temp = world_temp.loc[:,['date','date_popup','date_x_axis','year','temp']]

#出力
##dataフォルダに
#world_temp.to_csv("./data/world_temperature.csv", index = False)

In [12]:
past = pd.read_csv("./data/world_temperature.csv",parse_dates=['date'])

In [19]:
past = past.reset_index(drop=True)

In [20]:
past.tail()

            date   date_popup date_x_axis  year    temp
16354 2023-10-11  2023年10月11日  2000-10-11  2023  15.603
16355 2023-10-12  2023年10月12日  2000-10-12  2023  15.447
16356 2023-10-13  2023年10月13日  2000-10-13  2023  15.418
16357 2023-10-14  2023年10月14日  2000-10-14  2023  15.428
16358 2023-10-15  2023年10月15日  2000-10-15  2023  15.344

In [21]:
test

            date   date_popup date_x_axis  year    temp
0     1979-01-01    1979年1月1日  2000-01-01  1979  12.311
1     1979-01-02    1979年1月2日  2000-01-02  1979  12.293
2     1979-01-03    1979年1月3日  2000-01-03  1979  12.274
3     1979-01-04    1979年1月4日  2000-01-04  1979  12.230
4     1979-01-05    1979年1月5日  2000-01-05  1979  12.273
...          ...          ...         ...   ...     ...
16387 2023-10-11  2023年10月11日  2000-10-11  2023  15.603
16388 2023-10-12  2023年10月12日  2000-10-12  2023  15.447
16389 2023-10-13  2023年10月13日  2000-10-13  2023  15.418
16390 2023-10-14  2023年10月14日  2000-10-14  2023  15.428
16391 2023-10-15  2023年10月15日  2000-10-15  2023  15.344

[16359 rows x 5 columns]

In [16]:
test = world_temp[world_temp.date<=past.date.max()]

In [17]:
test.where(test!=past)

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects

In [7]:
world_temp.tail(20)

            date   date_popup date_x_axis  year    temp
16375 2023-09-29   2023年9月29日  2000-09-29  2023  16.109
16376 2023-09-30   2023年9月30日  2000-09-30  2023  16.040
16377 2023-10-01   2023年10月1日  2000-10-01  2023  15.984
16378 2023-10-02   2023年10月2日  2000-10-02  2023  15.903
16379 2023-10-03   2023年10月3日  2000-10-03  2023  15.800
16380 2023-10-04   2023年10月4日  2000-10-04  2023  15.716
16381 2023-10-05   2023年10月5日  2000-10-05  2023  15.658
16382 2023-10-06   2023年10月6日  2000-10-06  2023  15.615
16383 2023-10-07   2023年10月7日  2000-10-07  2023  15.613
16384 2023-10-08   2023年10月8日  2000-10-08  2023  15.675
16385 2023-10-09   2023年10月9日  2000-10-09  2023  15.716
16386 2023-10-10  2023年10月10日  2000-10-10  2023  15.727
16387 2023-10-11  2023年10月11日  2000-10-11  2023  15.603
16388 2023-10-12  2023年10月12日  2000-10-12  2023  15.447
16389 2023-10-13  2023年10月13日  2000-10-13  2023  15.418
16390 2023-10-14  2023年10月14日  2000-10-14  2023  15.428
16391 2023-10-15  2023年10月15日  2000-10-15  2023  15.344
16392 2023-10-16  2023年10月16日  2000-10-16  2023  15.223
16393 2023-10-17  2023年10月17日  2000-10-17  2023  15.142
16394 2023-10-18  2023年10月18日  2000-10-18  2023  15.107