In [6]:
df

,Date,Time,11001,11016,11046,11076,11121,11151,11176,11206,...,91197,91241,92011,93041,94001,94017,94062,94081,94101,94116
0,2023/8/1,1:00,18.1,19.0,19.2,17.6,17.3,16.7,15.5,16.4,...,27.0,26.0,25.8,26.4,26.0,26.4,26.9,26.1,25.8,26.4
1,2023/8/1,2:00,18.8,19.0,18.1,17.2,17.1,17.3,14.9,17.7,...,27.3,25.9,26.0,26.5,26.4,26.1,27.0,25.9,25.5,26.0
2,2023/8/1,3:00,19.2,18.5,18.3,17.0,16.8,16.8,16.2,17.9,...,27.3,25.8,26.1,26.4,26.4,26.2,27.1,26.0,25.5,26.0
3,2023/8/1,4:00,16.9,18.5,18.3,15.6,15.8,16.1,15.1,17.8,...,27.3,25.8,26.1,26.8,26.2,26.4,27.1,26.0,25.7,26.1
4,2023/8/1,5:00,17.9,18.4,19.3,16.9,15.6,18.1,16.8,19.5,...,27.3,25.7,26.1,26.8,26.2,26.2,27.0,25.8,25.2,26.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2023/8/8,20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,2023/8/8,21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,2023/8/8,22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,2023/8/8,23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,2023/8/8,24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN