In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-ts.csv'

In [70]:
data_table_y = pd.read_csv(url)

In [76]:
temp_df

           heatpoints  heatpoints_capitol  heatpoints_ytd
year pref
2000 北海道            3                   2               3  \
     青森県            3                   0               3
     秋田県            4                   4               3
     岩手県            5                   1               4
     宮城県            2                   0               1
...               ...                 ...             ...
2023 佐賀県           15                  12              15
     熊本県           21                  15              21
     宮崎県           11                   2              11
     鹿児島県          15                   1              15
     沖縄県            1                   0               1

           heatpoints_capitol_ytd temp
year pref
2000 北海道                        2  猛暑日
     青森県                        0  猛暑日
     秋田県                        3  猛暑日
     岩手県                        1  猛暑日
     宮城県                        0  猛暑日
...                           ...  ...
2023 佐賀県                       12  猛暑日
     熊本県                       15  猛暑日
     宮崎県                        2  猛暑日
     鹿児島県                       1  猛暑日
     沖縄県                        0  猛暑日

[1128 rows x 5 columns]

In [88]:
flourish

,year,pref,heatpoints,heatpoints_capitol,heatpoints_ytd,heatpoints_capitol_ytd,temp,前年同期,きょう以降の期間
0,2000,北海道,33,10,18,6,真夏日,18,15
1,2000,青森県,49,17,25,7,真夏日,25,24
2,2000,秋田県,54,40,25,15,真夏日,25,29
3,2000,岩手県,57,34,35,20,真夏日,35,22
4,2000,宮城県,46,30,30,16,真夏日,30,16
...,...,...,...,...,...,...,...,...,...
2251,2023,佐賀県,15,12,15,12,猛暑日,15,0
2252,2023,熊本県,21,15,21,15,猛暑日,21,0
2253,2023,宮崎県,11,2,11,2,猛暑日,11,0
2254,2023,鹿児島県,15,1,15,1,猛暑日,15,0
2255,2023,沖縄県,1,0,1,0,猛暑日,1,0

In [83]:
flourish[(flourish.pref=='東京都')&(flourish.temp=='猛暑日')]

,year,pref,heatpoints,heatpoints_capitol,heatpoints_ytd,heatpoints_capitol_ytd,temp
1139,2000,東京都,8,1,6,0,猛暑日
1186,2001,東京都,16,8,16,8,猛暑日
1233,2002,東京都,16,6,10,3,猛暑日
1280,2003,東京都,9,0,1,0,猛暑日
1327,2004,東京都,22,6,15,4,猛暑日
1374,2005,東京都,9,4,7,4,猛暑日
1421,2006,東京都,10,3,7,3,猛暑日
1468,2007,東京都,14,7,2,0,猛暑日
1515,2008,東京都,14,1,10,0,猛暑日
1562,2009,東京都,2,0,2,0,猛暑日
1609,2010,東京都,37,13,15,4,猛暑日
1656,2011,東京都,26,4,15,1,猛暑日
1703,2012,東京都,25,6,12,2,猛暑日
1750,2013,東京都,19,12,8,6,猛暑日
1797,2014,東京都,18,5,13,5,猛暑日
1844,2015,東京都,18,11,17,10,猛暑日
1891,2016,東京都,6,3,4,2,猛暑日
1938,2017,東京都,7,2,5,1,猛暑日
1985,2018,東京都,30,12,22,8,猛暑日
2032,2019,東京都,19,12,10,4,猛暑日
2079,2020,東京都,22,12,2,1,猛暑日
2126,2021,東京都,13,2,7,0,猛暑日
2173,2022,東京都,21,16,17,13,猛暑日
2220,2023,東京都,21,16,21,16,猛暑日

In [20]:
data_table_y.set_index(['year','pref']).rename_axis('category',axis=1).stack().rename('heatpoints').reset_index(level='category',drop=False)

                     category  heatpoints
year pref
2000 北海道               over30          33
     北海道       over30_capitol          10
     北海道               over35           3
     北海道       over35_capitol           2
     北海道               over40           0
...                       ...         ...
2023 沖縄県   over30_capitol_ytd          48
     沖縄県           over35_ytd           1
     沖縄県   over35_capitol_ytd           0
     沖縄県           over40_ytd           0
     沖縄県   over40_capitol_ytd           0

[13536 rows x 2 columns]