In [100]:
#気象庁
#①最新の最高気温のデータを取得
#②集計１：真夏日・猛暑日の観測地点数（全国）＝過去データ統合して更新
#③集計２：各都道府県の最高気温一覧＝過去データと統合して更新
#④集計３：各観測地点のきょうの最高気温（直近のみ）＝最新データに更新

#https://www.data.jma.go.jp/stats/data/mdrr/docs/csv_dl_readme.html
#最新は1時間毎の更新（毎時00分の観測データを50分過ぎに更新）
#過去７日はウェブ上のデータは毎日5:00ごろ更新＋修正は13:00、19:00、翌日1:00ごろの更新で反映-->github上で30分遅れで取得しているものを呼び出す
#定期実行

import pandas as pd

#観測地点の一覧
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/meta/points_list.csv'
points = pd.read_csv(url)

#最新データの取得
url = 'https://www.data.jma.go.jp/stats/data/mdrr/tem_rct/alltable/mxtemsadext00_rct.csv'
data = pd.read_csv(url, encoding='Shift-JIS')

#日付
yyyymmdd = f"{data['現在時刻(年)'][0]}{data.loc[0,['現在時刻(月)','現在時刻(日)']].apply(lambda x: str(x).zfill(2)).sum()}"
yyyymmdd_dt = pd.to_datetime(yyyymmdd, format='%Y%m%d')
data['date'] = yyyymmdd_dt

#最新データをcsvで出力
##ファイル名
filename = f"./data-maxtemp/daily-data/jma-maxtemp-{yyyymmdd}.csv"
data.to_csv(filename, index=False)
data.to_csv("./data-maxtemp/daily-data/jma-maxtemp-latest.csv")

#真夏日・猛暑日の数をかぞえる
rename_dic = {col:'maxtemp' for col in data.columns if '最高気温(℃)' in col}
data = data.rename(columns=rename_dic)
data.maxtemp = data.maxtemp.astype(float)

#計算（集計1, 2共通）
data['over30'] = data.maxtemp >= 30
data['over35'] = data.maxtemp >= 35
data['over40'] = data.maxtemp >= 40
data['total'] = 1
data['null_values'] = data.maxtemp.isna()
#追加データ（集計2用）
data['pref'] = data['観測所番号'].map(points.set_index(['観測所番号']).pref.to_dict())
data['capitol'] = data['観測所番号'].isin(points[points.capitol==1]['観測所番号']).astype(int)
data['year'] = data.date.dt.year
#追加データ（集計3用）
data['name'] = data['観測所番号'].map(points.set_index('観測所番号').name.to_dict())


#集計1: 猛暑・真夏日の観測地点数（全国）
##最新分
heatpoints_latest = data[['over30','over35','over40','total','null_values']].sum()
heatpoints_latest['date'] = yyyymmdd_dt
##過去分
filename = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-ts.csv"
heatpoints = pd.read_csv(filename)
heatpoints.date = pd.to_datetime(heatpoints.date)
##統合
heatpoints = pd.concat([heatpoints, heatpoints_latest.to_frame().T])
heatpoints = heatpoints.loc[~heatpoints.duplicated(subset=['date'], keep='last')].reset_index(drop=True)
heatpoints = heatpoints.dropna(subset='date').sort_values(by='date')
##出力
heatpoints.to_csv(filename, index=False)

#集計1: 猛暑・真夏日の観測地点数（全国）、Flourish用
#日付の抜け漏れを補正・カラム名など日本語に
dates = pd.date_range(heatpoints.date.min(),heatpoints.date.max())
dates = dates[dates.month.isin(range(5, 11))]
heatpoints_f = heatpoints.set_index('date').reindex(dates).rename_axis('date')
heatpoints_f['date_jp'] = heatpoints_f.index.strftime('%Y年%-m月%-d日')
heatpoints_f['year'] = heatpoints_f.index.strftime('%Y年')
heatpoints_f = heatpoints_f.rename(columns={'over30':'真夏日','over35':'猛暑日','over40':'酷暑日'}).reset_index()
heatpoints_f = heatpoints_f.sort_values(by=['year','date'], ascending=[False, True])
#出力
filename = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-flourish.csv"
heatpoints_f.to_csv(filename, index=False)

#集計2：真夏日・猛暑日の県別一覧表
##最新分
by_pref_cap = data[data.capitol==1].groupby(['date','year','pref'])[['maxtemp','over30','over35','over40']].max().add_suffix('_capitol')
by_pref = data.groupby(['date','year','pref'])[['maxtemp','over30','over35','over40']].max()
by_pref = pd.concat([by_pref, by_pref_cap],axis=1).reset_index()
##過去分
filename = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-daily.csv"
by_pref_prev = pd.read_csv(filename, parse_dates=['date'])
#統合
by_pref = pd.concat([by_pref_prev, by_pref]).dropna(subset=['date'])
by_pref = by_pref[~by_pref.duplicated(subset=['date','pref'], keep='last')]
by_pref.loc[:,'over30':] = by_pref.loc[:,'over30':].astype(bool)
#出力
by_pref.to_csv(filename, index=False)

/var/folders/m5/5y2tv80j62v6m1f84pdbl2vm0000gn/T/ipykernel_26985/3442242792.py:87: DtypeWarning: Columns (5,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  by_pref_prev = pd.read_csv(filename, parse_dates=['date'])
/var/folders/m5/5y2tv80j62v6m1f84pdbl2vm0000gn/T/ipykernel_26985/3442242792.py:87: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  by_pref_prev = pd.read_csv(filename, parse_dates=['date'])

In [ ]:
#集計2-2: 
##年間＆前年同期の猛暑・真夏日をカウント
data_table_fullyear = data_table.groupby(['year','pref','sort_n'])[cols].sum()
data_table_ytd = data_table[data_table['date'].apply(lambda x: x.replace(year=2000))<=yyyymmdd_dt.replace(year=2000)]
data_table_ytd = data_table_ytd.groupby(['year','pref','sort_n'])[cols].sum()
data_table_y = pd.concat([data_table_fullyear, data_table_ytd.add_suffix('_ytd')],axis=1)
data_table_y = data_table_y.sort_index(level=[0,2]).reset_index(level='sort_n', drop=True).reset_index()
##年間を出力
filename_y = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-ts.csv"
data_table_y.to_csv(filename_y,index=False)

##Flourish用のバックデータを更新
flourish = pd.DataFrame()
temps = {30:'真夏日', 35:'猛暑日'}
for key, val in temps.items():
    temp_df = data_table_y.set_index(['year','pref'])[[col for col in data_table_y if str(key) in col]]
    rename_dic = {
        f'over{key}':'heatpoints',
        f'over{key}_capitol':'heatpoints_capitol',
        f'over{key}_ytd':'heatpoints_ytd',
        f'over{key}_capitol_ytd':'heatpoints_capitol_ytd'
    }
    temp_df = temp_df.rename(columns=rename_dic)
    temp_df['temp'] = val
    flourish = pd.concat([flourish, temp_df])
flourish = flourish.reset_index(drop=False)
flourish['year'] = flourish['year'].astype(int)
flourish[f"{yyyymmdd_dt.strftime('%-m月%-d日')}時点"] = flourish.heatpoints_capitol_ytd
flourish['残りの期間'] = flourish.heatpoints_capitol - flourish.heatpoints_capitol_ytd
###東京都を一番上に表示
flourish['sort_n'] = flourish.pref.map(points.set_index('pref').prec_no.to_dict())
flourish.loc[flourish.pref=='東京都','sort_n'] = 1
flourish = flourish.sort_values(by=['year','sort_n'])
###Flourishを出力
filename_f = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-flourish.csv"
flourish.to_csv(filename_f,index=False)

##県別一覧を出力
data_table = data_table.drop(['sort_n'],axis=1)
data_table.to_csv(filename, index=False)

#集計3: 最高気温の表
##最新分のみで計算
rank_df = data[['date','観測所番号','pref','name','maxtemp']]
rank_df = rank_df.rename(columns={'pref':'都道府県名','name':'地名','maxtemp':'最高気温'})
rank_df = rank_df.sort_values(by=['最高気温'],ascending=False)
##出力
rank_df.to_csv('./data/maxtemp-ranking-latest.csv',index=False)

#最終更新時刻を記録
##動的テキスト表示用（使えるかは未定）
update_log = f"{yyyymmdd_dt.strftime('%Y年%-m月%-d日')}{data['現在時刻(時)'][0]}時時点"
with open('./data-maxtemp/timeseries-data/update_log.txt', 'w') as f:
    f.write(update_log)

In [98]:
by_pref.loc[:,'over30':]

    over30  over30_capitol  over35  over35_capitol  over40  over40_capitol
0    False           False   False           False   False           False
1    False           False   False           False   False           False
2    False           False   False           False   False           False
3    False           False   False           False   False           False
4    False           False   False           False   False           False
..     ...             ...     ...             ...     ...             ...
42    True            True   False           False   False           False
43    True            True    True            True   False           False
44    True            True   False           False   False           False
45    True            True    True            True   False           False
46   False           False   False           False   False           False

[405234 rows x 6 columns]

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol
0,2000-01-01,2000,北海道,2.7,-0.7,0,0,0,0,0,0
1,2000-01-01,2000,青森県,3.9,2.1,0,0,0,0,0,0
2,2000-01-01,2000,秋田県,6.5,4.0,0,0,0,0,0,0
3,2000-01-01,2000,岩手県,6.0,4.7,0,0,0,0,0,0
4,2000-01-01,2000,宮城県,8.6,6.8,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
42,2023-08-09,2023,静岡県,32.9,32.7,1,1,0,0,0,0
43,2023-08-09,2023,香川県,36.8,35.7,1,1,1,1,0,0
44,2023-08-09,2023,高知県,32.1,31.2,1,1,0,0,0,0
45,2023-08-09,2023,鳥取県,38.5,38.5,1,1,1,1,0,0
46,2023-08-09,2023,鹿児島県,29.1,29.1,0,0,0,0,0,0

In [ ]:

data_table['sort_n'] = data_table.pref.map(points.set_index('pref').prec_no.to_dict())
data_table = data_table.sort_values(by=['date','sort_n']).reset_index(drop=True)