In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-ts.csv'

In [70]:
data_table_y = pd.read_csv(url)

In [76]:
temp_df

           heatpoints  heatpoints_capitol  heatpoints_ytd
year pref
2000 北海道            3                   2               3  \
     青森県            3                   0               3
     秋田県            4                   4               3
     岩手県            5                   1               4
     宮城県            2                   0               1
...               ...                 ...             ...
2023 佐賀県           15                  12              15
     熊本県           21                  15              21
     宮崎県           11                   2              11
     鹿児島県          15                   1              15
     沖縄県            1                   0               1

           heatpoints_capitol_ytd temp
year pref
2000 北海道                        2  猛暑日
     青森県                        0  猛暑日
     秋田県                        3  猛暑日
     岩手県                        1  猛暑日
     宮城県                        0  猛暑日
...                           ...  ...
2023 佐賀県                       12  猛暑日
     熊本県                       15  猛暑日
     宮崎県                        2  猛暑日
     鹿児島県                       1  猛暑日
     沖縄県                        0  猛暑日

[1128 rows x 5 columns]

In [88]:
flourish

,year,pref,heatpoints,heatpoints_capitol,heatpoints_ytd,heatpoints_capitol_ytd,temp,前年同期,きょう以降の期間
0,2000,北海道,33,10,18,6,真夏日,18,15
1,2000,青森県,49,17,25,7,真夏日,25,24
2,2000,秋田県,54,40,25,15,真夏日,25,29
3,2000,岩手県,57,34,35,20,真夏日,35,22
4,2000,宮城県,46,30,30,16,真夏日,30,16
...,...,...,...,...,...,...,...,...,...
2251,2023,佐賀県,15,12,15,12,猛暑日,15,0
2252,2023,熊本県,21,15,21,15,猛暑日,21,0
2253,2023,宮崎県,11,2,11,2,猛暑日,11,0
2254,2023,鹿児島県,15,1,15,1,猛暑日,15,0
2255,2023,沖縄県,1,0,1,0,猛暑日,1,0

In [83]:
flourish[(flourish.pref=='東京都')&(flourish.temp=='猛暑日')]

,year,pref,heatpoints,heatpoints_capitol,heatpoints_ytd,heatpoints_capitol_ytd,temp
1139,2000,東京都,8,1,6,0,猛暑日
1186,2001,東京都,16,8,16,8,猛暑日
1233,2002,東京都,16,6,10,3,猛暑日
1280,2003,東京都,9,0,1,0,猛暑日
1327,2004,東京都,22,6,15,4,猛暑日
1374,2005,東京都,9,4,7,4,猛暑日
1421,2006,東京都,10,3,7,3,猛暑日
1468,2007,東京都,14,7,2,0,猛暑日
1515,2008,東京都,14,1,10,0,猛暑日
1562,2009,東京都,2,0,2,0,猛暑日
1609,2010,東京都,37,13,15,4,猛暑日
1656,2011,東京都,26,4,15,1,猛暑日
1703,2012,東京都,25,6,12,2,猛暑日
1750,2013,東京都,19,12,8,6,猛暑日
1797,2014,東京都,18,5,13,5,猛暑日
1844,2015,東京都,18,11,17,10,猛暑日
1891,2016,東京都,6,3,4,2,猛暑日
1938,2017,東京都,7,2,5,1,猛暑日
1985,2018,東京都,30,12,22,8,猛暑日
2032,2019,東京都,19,12,10,4,猛暑日
2079,2020,東京都,22,12,2,1,猛暑日
2126,2021,東京都,13,2,7,0,猛暑日
2173,2022,東京都,21,16,17,13,猛暑日
2220,2023,東京都,21,16,21,16,猛暑日

In [20]:
data_table_y.set_index(['year','pref']).rename_axis('category',axis=1).stack().rename('heatpoints').reset_index(level='category',drop=False)

                     category  heatpoints
year pref
2000 北海道               over30          33
     北海道       over30_capitol          10
     北海道               over35           3
     北海道       over35_capitol           2
     北海道               over40           0
...                       ...         ...
2023 沖縄県   over30_capitol_ytd          48
     沖縄県           over35_ytd           1
     沖縄県   over35_capitol_ytd           0
     沖縄県           over40_ytd           0
     沖縄県   over40_capitol_ytd           0

[13536 rows x 2 columns]

In [95]:
#気象庁
#①最新の最高気温のデータを取得
#②集計１：真夏日・猛暑日の観測地点数（全国）＝過去データ統合して更新
#③集計２：各都道府県の最高気温一覧＝過去データと統合して更新
#④集計３：各観測地点のきょうの最高気温（直近のみ）＝最新データに更新

#https://www.data.jma.go.jp/stats/data/mdrr/docs/csv_dl_readme.html
#最新は1時間毎の更新（毎時00分の観測データを50分過ぎに更新）
#過去７日はウェブ上のデータは毎日5:00ごろ更新＋修正は13:00、19:00、翌日1:00ごろの更新で反映-->github上で30分遅れで取得しているものを呼び出す
#定期実行

import pandas as pd

#観測地点の一覧
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/meta/points_list.csv'
points = pd.read_csv(url)

#最新データの取得
url = 'https://www.data.jma.go.jp/stats/data/mdrr/tem_rct/alltable/mxtemsadext00_rct.csv'
data = pd.read_csv(url, encoding='Shift-JIS')

#日付
yyyymmdd = f"{data['現在時刻(年)'][0]}{data.loc[0,['現在時刻(月)','現在時刻(日)']].apply(lambda x: str(x).zfill(2)).sum()}"
yyyymmdd_dt = pd.to_datetime(yyyymmdd, format='%Y%m%d')

#最新データをcsvで出力
##ファイル名
filename = f"./data-maxtemp/daily-data/jma-maxtemp-{yyyymmdd}.csv"
##記載
data['date'] = yyyymmdd_dt
##csv
data.to_csv(filename, index=False)
data.to_csv("./data-maxtemp/daily-data/jma-maxtemp-latest.csv")

#真夏日・猛暑日の数をかぞえる
rename_dic = {col:'maxtemp' for col in data.columns if '最高気温(℃)' in col}
data = data.rename(columns=rename_dic)

#計算（集計1, 2共通）
data['over30'] = data.maxtemp >= 30
data['over35'] = data.maxtemp >= 35
data['over40'] = data.maxtemp >= 40
data['total'] = 1
data['null_values'] = data.maxtemp.isna()
#追加データ（集計2用）
data['pref'] = data['観測所番号'].map(points.set_index(['観測所番号']).pref.to_dict())
data['capitol'] = data['観測所番号'].isin(points[points.capitol==1]['観測所番号']).astype(int)
#追加データ（集計3用）
data['name'] = data['観測所番号'].map(points.set_index('観測所番号').name.to_dict())

#集計1: 猛暑・真夏日の観測地点数（全国）
##最新分
heat_points_latest = data[['over30','over35','over40','total','null_values']].sum()
heat_points_latest['date'] = yyyymmdd_dt
##過去分
filename = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-ts.csv"
heat_points = pd.read_csv(filename)
heat_points.date = pd.to_datetime(heat_points.date)
##統合
heat_points = pd.concat([heat_points, heat_points_latest.to_frame().T])
heat_points = heat_points.loc[~heat_points.duplicated(subset=['date'], keep='last')].reset_index(drop=True)
heat_points = heat_points.dropna(subset='date').sort_values(by='date')
##出力
heat_points.to_csv(filename, index=False)

#集計2：真夏日・猛暑日の県別一覧表
##最新分
data_table = data.groupby(['date','pref'])[['maxtemp','over30','over35','over40']].max()
data_table_cap = data[data.capitol==1].set_index(['date','pref'])[['maxtemp','over30','over35','over40']].add_suffix('_capitol')
data_table = pd.concat([data_table, data_table_cap],axis=1).reset_index()
##過去分
filename = "./data-maxtemp/timeseries-data/jma-maxtemp-temp-by-pref-ts.csv"
past_table = pd.read_csv(filename)
##統合
data_table = pd.concat([past_table, data_table])
data_table.date = pd.to_datetime(data_table.date)
data_table['year'] = data_table['date'].dt.year
data_table = data_table[~data_table.duplicated(subset=['date','pref'],keep='last')]
data_table['sort_n'] = data_table.pref.map(points.set_index('pref').prec_no.to_dict())
data_table = data_table.sort_values(by=['date','sort_n']).reset_index(drop=True)
#True/False-->1/0に
cols = [col for col in data_table.columns if 'over' in col]
data_table[cols] = data_table[cols].astype(int)

#集計2-2: 
##年間＆前年同期の猛暑・真夏日をカウント
data_table_fullyear = data_table.groupby(['year','pref','sort_n'])[cols].sum()
data_table_ytd = data_table[data_table['date'].apply(lambda x: x.replace(year=2000))<=yyyymmdd_dt.replace(year=2000)]
data_table_ytd = data_table_ytd.groupby(['year','pref','sort_n'])[cols].sum()
data_table_y = pd.concat([data_table_fullyear, data_table_ytd.add_suffix('_ytd')],axis=1)
data_table_y = data_table_y.sort_index(level=[0,2]).reset_index(level='sort_n', drop=True).reset_index()
##年間を出力
filename_y = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-ts.csv"
data_table_y.to_csv(filename_y,index=False)
##Flourish用のバックデータを更新
flourish = pd.DataFrame()
temps = {30:'真夏日', 35:'猛暑日'}
for key, val in temps.items():
    temp_df = data_table_y.set_index(['year','pref'])[[col for col in data_table_y if str(key) in col]]
    rename_dic = {
        f'over{key}':'heatpoints',
        f'over{key}_capitol':'heatpoints_capitol',
        f'over{key}_ytd':'heatpoints_ytd',
        f'over{key}_capitol_ytd':'heatpoints_capitol_ytd'
    }
    temp_df = temp_df.rename(columns=rename_dic)
    temp_df['temp'] = val
    flourish = pd.concat([flourish, temp_df])
flourish = flourish.reset_index(drop=False)
flourish['year'] = flourish['year'].astype(int)
flourish[f"{yyyymmdd_dt.strftime('%-m月%-d日')}時点"] = flourish.heatpoints_capitol_ytd
flourish['残りの期間'] = flourish.heatpoints_capitol - flourish.heatpoints_capitol_ytd
filename_f = "./data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-flourish.csv"
flourish.to_csv(filename_f,index=False)

##県別一覧を出力
data_table = data_table.drop(['sort_n'],axis=1)
data_table.to_csv(filename, index=False)

#集計3: 最高気温の表
##最新分のみで計算
heinen = [col for col in data.columns if '平年' in col][0]
rank_df = data[['date','観測所番号','pref','name','maxtemp',heinen]]
rank_df = rank_df.rename(columns={'pref':'都道府県名','name':'地名','maxtemp':'最高気温',heinen:'平年差'})
rank_df['平年差_pos'] = rank_df.where(rank_df['平年差']>0)['平年差'].fillna(0)
rank_df['平年差_neg'] = rank_df.where(rank_df['平年差']<0)['平年差'].fillna(0)
rank_df = rank_df.sort_values(by=['最高気温'],ascending=False)
##出力
rank_df.to_csv('./data/maxtemp-ranking-latest.csv',index=False)

#最終更新時刻を記録
##動的テキスト表示用（使えるかは未定）
update_log = f"{yyyymmdd_dt.strftime('%Y年%-m月%-d日')}{data['現在時刻(時)'][0]}時時点"
with open('./data-maxtemp/timeseries-data/update_log.txt', 'w') as f:
    f.write(update_log)

'8月7日時点'

In [91]:
f'{yyyymmdd_dt.strftime('%-m月%-d日')}時点'

SyntaxError: f-string: unmatched '(' (3092564985.py, line 1)

In [92]:
yyyymmdd_dt.strftime('%-m月%-d日')

NameError: name 'yyyymmdd_dt' is not defined