In [7]:
#暑さ指数（旧hot_index）
#定期実行
#ソース：環境省熱中症予防サイト
#元データは毎時30分ごろ更新
#https://www.wbgt.env.go.jp/wbgt_data.php
#2023/8/8 エラーが続いていたので、コード手を入れました

import pandas as pd
from datetime import datetime, date
import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.poolmanager import PoolManager
import ssl
import io

#実況値のデータを取得
yyyymm = date.today().strftime('%Y%m')
url = 'https://www.wbgt.env.go.jp/est15WG/dl/wbgt_all_202308.csv'

#データ元のサーバーのSSL、legacy renegotiationの問題でgithub上でエラーが起きるため
class InsecureHttpAdapter(HTTPAdapter):
    def init_poolmanager(self, connections, maxsize, block=False):
        self.poolmanager = PoolManager(
            num_pools=connections,
            maxsize=maxsize,
            block=block,
            ssl_version=ssl.PROTOCOL_TLS,
        )

session = requests.Session()
session.mount('https://', InsecureHttpAdapter())
response = session.get(url, verify=False)

wbgt = pd.read_csv(io.StringIO(response.text))

#日時データ整形
wbgt.Time = wbgt.Time.str.replace('24:00','0:00')
wbgt['date_dt'] = pd.to_datetime(wbgt.Date + ' ' + wbgt.Time, format='%Y/%m/%d %H:%M')
wbgt['date_popup']=wbgt.date_dt.dt.strftime('%-m月%-d日 %-H時時点')
wbgt = wbgt.drop(['Date','Time'],axis=1)

#longフォーマットに転換
wbgt = wbgt.set_index(['date_dt','date_popup']).rename_axis('amdno',axis=1).stack().rename('wbgt').reset_index()
wbgt.amdno = wbgt.amdno.astype(int)

#最新分のみ切り出し
##iloc[-1]などはほぼ大丈夫ですが、絶対値で指定したほうがより安全
wbgt_latest = wbgt.loc[wbgt.date_dt==wbgt.date_dt.max()]


#地点情報を取得
##tableを固定で引っ張ると、観測地点の変更・追加などがあるとデータがおちてしまうので、
##元データを引っ張ったほうがベター(コードは少しだけ長くなりますが、jsonで軽いので）
url = 'https://www.jma.go.jp/bosai/amedas/const/amedastable.json'
r = requests.get(url)
data = r.json()

locations = pd.DataFrame.from_dict(data, orient='index').reset_index()
locations = locations.rename(columns={'index':'amdno'})
locations.amdno = locations.amdno.astype(int)
#lat longを整える
locations[['lat','lon']] = locations[['lat','lon']].applymap(lambda x: x[0] + x[1]/60)

#地点情報を最新データに追加
##how='left'
wbgt_latest = wbgt_latest.merge(locations[['amdno','lat','lon','kjName']], on='amdno', how='left')

#暑さ指数「日常生活に関する指針」
##指針の内容をテキストでアサイン
def guideline(value):
    if value >= 31:
        return '危険'
    elif value >= 28:
        return '厳重警戒'
    elif value >= 25:
        return '警戒'
    else:
        return '注意'
wbgt_latest['guideline'] = wbgt_latest.wbgt.apply(guideline)

wbgt_latest.to_csv("./data/wbgt.csv", index=False)

AttributeError: 'DataFrame' object has no attribute 'Time'

In [8]:
wbgt

  <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
0                                       <html><head>
1                       <title>404 Not Found</title>
2                                      </head><body>
3                                 <h1>Not Found</h1>
4  <p>The requested URL /data_service_sample/wbgt...
5                                     </body></html>

In [6]:
df

,Date,Time,11001,11016,11046,11076,11121,11151,11176,11206,...,91197,91241,92011,93041,94001,94017,94062,94081,94101,94116
0,2023/8/1,1:00,18.1,19.0,19.2,17.6,17.3,16.7,15.5,16.4,...,27.0,26.0,25.8,26.4,26.0,26.4,26.9,26.1,25.8,26.4
1,2023/8/1,2:00,18.8,19.0,18.1,17.2,17.1,17.3,14.9,17.7,...,27.3,25.9,26.0,26.5,26.4,26.1,27.0,25.9,25.5,26.0
2,2023/8/1,3:00,19.2,18.5,18.3,17.0,16.8,16.8,16.2,17.9,...,27.3,25.8,26.1,26.4,26.4,26.2,27.1,26.0,25.5,26.0
3,2023/8/1,4:00,16.9,18.5,18.3,15.6,15.8,16.1,15.1,17.8,...,27.3,25.8,26.1,26.8,26.2,26.4,27.1,26.0,25.7,26.1
4,2023/8/1,5:00,17.9,18.4,19.3,16.9,15.6,18.1,16.8,19.5,...,27.3,25.7,26.1,26.8,26.2,26.2,27.0,25.8,25.2,26.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2023/8/8,20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,2023/8/8,21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,2023/8/8,22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,2023/8/8,23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,2023/8/8,24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN