In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://climatereanalyzer.org/clim/t2_daily/json/cfsr_world_t2_day.json'

In [3]:
response = requests.get(url)

In [4]:
data = response.json()

In [5]:
df_data = pd.DataFrame(data)

In [6]:
#1979-2023のデータフレームに
#2024になったらエラー発生見込み

df_data = df_data.iloc[0:45]

In [7]:
dates = pd.date_range(start='1979-01-01', end='2023-12-31')

# 月と日を取り出して文字列に変換し、連結する
month_day = dates.month.astype(str) + '/' + dates.day.astype(str)

# 年を取り出す
year = dates.year

# 新たなデータフレームを作成
df = pd.DataFrame({
    'date': month_day,
    'year': year
})

In [8]:
temp = []

In [9]:
#閏年でない年は、最後にnoneが入っているから取り除く必要あり

for i in range(45):
    list_with_none = df_data.data[i]
    list_without_none = [x for x in list_with_none if x is not None]
    for k in range(len(list_without_none)):
        temp.append(round(list_without_none[k], 2))

In [10]:
#temp列をNaNで埋める

df['temp'] = pd.Series(np.nan, index = df.index)

In [11]:
#あるだけtempデータを入れる

df.loc[df.index[:len(temp)], 'temp'] = temp

In [12]:
df = df.dropna()

In [14]:
df_without_229 = df[~df['date'].str.contains('^2/29$', regex=True)]

In [16]:
df_without_229 = df_without_229[['temp', 'year', 'date']]

In [17]:
df_without_229

        temp  year  date
0      12.31  1979   1/1
1      12.29  1979   1/2
2      12.27  1979   1/3
3      12.23  1979   1/4
4      12.27  1979   1/5
...      ...   ...   ...
16271  17.12  2023  7/20
16272  17.11  2023  7/21
16273  17.10  2023  7/22
16274  17.08  2023  7/23
16275  17.08  2023  7/24

[16265 rows x 3 columns]

In [18]:
df_without_229.to_csv("world_temperature.csv")