In [90]:
import requests
import pandas as pd
import numpy as np

In [91]:
url = 'https://climatereanalyzer.org/clim/t2_daily/json/cfsr_world_t2_day.json'

In [92]:
response = requests.get(url)

In [93]:
data = response.json()

In [94]:
df_data = pd.DataFrame(data)

In [95]:
#1979-2023のデータフレームに
#2024になったらエラー発生見込み

df_data = df_data.iloc[0:45]

In [96]:
dates = pd.date_range(start='1979-01-01', end='2023-12-31')

# 月と日を取り出して文字列に変換し、連結する
month_day = dates.month.astype(str) + '/' + dates.day.astype(str)

# 年を取り出す
year = dates.year

# 新たなデータフレームを作成
df = pd.DataFrame({
    'date': month_day,
    'year': year
})

In [97]:
temp = []

In [98]:
#閏年でない年は、最後にnoneが入っているから取り除く必要あり

for i in range(45):
    list_with_none = df_data.data[i]
    list_without_none = [x for x in list_with_none if x is not None]
    for k in range(len(list_without_none)):
        temp.append(round(list_without_none[k], 2))

In [99]:
#temp列をNaNで埋める

df['temp'] = pd.Series(np.nan, index = df.index)

In [100]:
#あるだけtempデータを入れる

df.loc[df.index[:len(temp)], 'temp'] = temp

In [101]:
df = df.dropna()

In [102]:
df

       date  year   temp
0       1/1  1979  12.31
1       1/2  1979  12.29
2       1/3  1979  12.27
3       1/4  1979  12.23
4       1/5  1979  12.27
...     ...   ...    ...
16271  7/20  2023  17.12
16272  7/21  2023  17.11
16273  7/22  2023  17.10
16274  7/23  2023  17.08
16275  7/24  2023  17.08

[16276 rows x 3 columns]

In [103]:
df_without_229 = df[~df['date'].str.contains('^2/29$', regex=True)]

In [105]:
df_without_229.to_csv("world_temperature.csv")