In [1]:
import pandas as pd

In [2]:
url = './data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-daily.csv'

In [3]:
df = pd.read_csv(url, parse_dates=['date'])

東京都の記録

In [12]:
tokyo = df.loc[df.pref=='東京都'].copy()

In [13]:
def count_consecutive_true(group):
    is_true = group['over30_capitol']
    group['consecutive_count'] = (is_true.groupby((is_true != is_true.shift()).cumsum()).cumcount() + 1) * is_true
    return group

tokyo = tokyo.groupby('year').apply(count_consecutive_true)

In [14]:
tokyo

                  date  year pref  maxtemp  maxtemp_capitol  over30
year
2000 11     2000-01-01  2000  東京都     24.1             12.6   False  \
     58     2000-01-02  2000  東京都     24.1              8.8   False
     105    2000-01-03  2000  東京都     23.8             16.5   False
     152    2000-01-04  2000  東京都     24.1             14.0   False
     199    2000-01-05  2000  東京都     24.2             11.6   False
...                ...   ...  ...      ...              ...     ...
2023 405354 2023-08-12  2023  東京都     35.9             35.5    True
     405401 2023-08-13  2023  東京都     33.9             32.9    True
     405448 2023-08-14  2023  東京都     32.9             32.9    True
     405495 2023-08-15  2023  東京都     32.8             32.8    True
     405542 2023-08-16  2023  東京都     32.2             32.2    True

             over30_capitol  over35  over35_capitol  over40  over40_capitol
year
2000 11               False   False           False   False           False  \
     58               False   False           False   False           False
     105              False   False           False   False           False
     152              False   False           False   False           False
     199              False   False           False   False           False
...                     ...     ...             ...     ...             ...
2023 405354            True    True            True   False           False
     405401            True   False           False   False           False
     405448            True   False           False   False           False
     405495            True   False           False   False           False
     405542            True   False           False   False           False

             consecutive_count
year
2000 11                      0
     58                      0
     105                     0
     152                     0
     199                     0
...                        ...
2023 405354                 38
     405401                 39
     405448                 40
     405495                 41
     405542                 42

[8629 rows x 12 columns]