In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-daily.csv'

In [3]:
df = pd.read_csv(url, parse_dates=['date'])

東京都の記録

In [4]:
tokyo = df.loc[df.pref=='東京都'].copy()

In [5]:
def count_consecutive_true(group):
    is_true = group['over30_capitol']
    group['consecutive_count'] = (is_true.groupby((is_true != is_true.shift()).cumsum()).cumcount() + 1) * is_true
    return group

tokyo = tokyo.groupby('year').apply(count_consecutive_true).reset_index(drop=True)

In [6]:
tokyo

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,consecutive_count
0,2000-01-01,2000,東京都,24.1,12.6,False,False,False,False,False,False,0
1,2000-01-02,2000,東京都,24.1,8.8,False,False,False,False,False,False,0
2,2000-01-03,2000,東京都,23.8,16.5,False,False,False,False,False,False,0
3,2000-01-04,2000,東京都,24.1,14.0,False,False,False,False,False,False,0
4,2000-01-05,2000,東京都,24.2,11.6,False,False,False,False,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8625,2023-08-13,2023,東京都,33.9,32.9,True,True,False,False,False,False,39
8626,2023-08-14,2023,東京都,32.9,32.9,True,True,False,False,False,False,40
8627,2023-08-15,2023,東京都,32.8,32.8,True,True,False,False,False,False,41
8628,2023-08-16,2023,東京都,32.2,32.2,True,True,False,False,False,False,42
8629,2023-08-17,2023,東京都,31.6,31.1,True,True,False,False,False,False,43

In [7]:
tokyo[(tokyo.year<2023)&(tokyo.consecutive_count>=40)]

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,consecutive_count
1687,2004-08-14,2004,東京都,37.0,34.7,True,True,True,False,False,False,40

In [8]:
tokyo[(tokyo.year==2023)&(tokyo.consecutive_count>=40)]

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,consecutive_count
8626,2023-08-14,2023,東京都,32.9,32.9,True,True,False,False,False,False,40
8627,2023-08-15,2023,東京都,32.8,32.8,True,True,False,False,False,False,41
8628,2023-08-16,2023,東京都,32.2,32.2,True,True,False,False,False,False,42
8629,2023-08-17,2023,東京都,31.6,31.1,True,True,False,False,False,False,43

In [9]:
tokyo[tokyo.year==2023]

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,consecutive_count
8401,2023-01-01,2023,東京都,24.4,13.0,False,False,False,False,False,False,0
8402,2023-01-02,2023,東京都,24.4,12.1,False,False,False,False,False,False,0
8403,2023-01-03,2023,東京都,24.4,11.0,False,False,False,False,False,False,0
8404,2023-01-04,2023,東京都,24.7,11.0,False,False,False,False,False,False,0
8405,2023-01-05,2023,東京都,24.8,10.6,False,False,False,False,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8625,2023-08-13,2023,東京都,33.9,32.9,True,True,False,False,False,False,39
8626,2023-08-14,2023,東京都,32.9,32.9,True,True,False,False,False,False,40
8627,2023-08-15,2023,東京都,32.8,32.8,True,True,False,False,False,False,41
8628,2023-08-16,2023,東京都,32.2,32.2,True,True,False,False,False,False,42
8629,2023-08-17,2023,東京都,31.6,31.1,True,True,False,False,False,False,43

In [11]:
tokyo[tokyo.maxtemp>=40]

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,consecutive_count
6778,2018-07-23,2018,東京都,40.8,39.0,True,True,True,True,True,False,16