In [1]:
import pandas as pd

In [2]:
#観測地点の一覧
url = 'https://raw.githubusercontent.com/Nikkei-Visual-Data-Journalism/Heatwave/main/data-maxtemp/meta/points_list.csv'
points = pd.read_csv(url)

In [5]:
url = "./data-maxtemp/timeseries-data/jma-maxtemp-temp-by-pref-ts.csv"
by_pref = pd.read_csv(url)

In [8]:
by_pref.head()

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,count
0,2000-01-01,2000,北海道,-1.2,NaN,False,False,False,False,False,False,1
1,2000-01-02,2000,北海道,1.8,NaN,False,False,False,False,False,False,1
2,2000-01-03,2000,北海道,1.5,NaN,False,False,False,False,False,False,1
3,2000-01-04,2000,北海道,-0.4,NaN,False,False,False,False,False,False,1
4,2000-01-05,2000,北海道,0.7,NaN,False,False,False,False,False,False,1

In [10]:
by_pref.pref.nunique()

1

In [ ]:
#