In [1]:
#暑さ指数
#ソース：環境省熱中症予防サイト
#https://www.wbgt.env.go.jp/wbgt_data.php

import pandas as pd
from datetime import datetime, date

#黄田さんが取得済みでaltとlonがあるdf_location_dataと、環境省が公開している暑さ指数データを合体する
#暑さ指数データの地点数は841。df_location_dataの地点数が若干多く、841ある分に関して合体する
#df_tempdataは気温ではなく暑さ指数。名称間違えた

url = 'https://raw.githubusercontent.com/hiroki-sakuragi/climate_change/main/amedastable.csv'
df_location_data = pd.read_csv(url)

In [ ]:
#実況値
yyyymm = date.today().strftime('%Y%m')
url = f'https://www.wbgt.env.go.jp/est15WG/dl/wbgt_all_{yyyymm}.csv'

wbgt = pd.read_csv(url)

In [28]:
wbgt.Time = wbgt.Time.str.replace('24:00','0:00')
wbgt['date_dt'] = pd.to_datetime(wbgt.Date + ' ' + wbgt.Time, format='%Y/%m/%d %H:%M')
wbgt['Date'] = pd.to_datetime(wbgt.Date)

In [29]:
wbgt.set_index(['Date','Time','date_dt'])

,Date,Time,11001,11016,11046,11076,11121,11151,11176,11206,...,91241,92011,93041,94001,94017,94062,94081,94101,94116,date_dt
0,2023-08-01,1:00,18.1,19.0,19.2,17.6,17.3,16.7,15.5,16.4,...,26.0,25.8,26.4,26.0,26.4,26.9,26.1,25.8,26.4,2023-08-01 01:00:00
1,2023-08-01,2:00,18.8,19.0,18.1,17.2,17.1,17.3,14.9,17.7,...,25.9,26.0,26.5,26.4,26.1,27.0,25.9,25.5,26.0,2023-08-01 02:00:00
2,2023-08-01,3:00,19.2,18.5,18.3,17.0,16.8,16.8,16.2,17.9,...,25.8,26.1,26.4,26.4,26.2,27.1,26.0,25.5,26.0,2023-08-01 03:00:00
3,2023-08-01,4:00,16.9,18.5,18.3,15.6,15.8,16.1,15.1,17.8,...,25.8,26.1,26.8,26.2,26.4,27.1,26.0,25.7,26.1,2023-08-01 04:00:00
4,2023-08-01,5:00,17.9,18.4,19.3,16.9,15.6,18.1,16.8,19.5,...,25.7,26.1,26.8,26.2,26.2,27.0,25.8,25.2,26.1,2023-08-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2023-08-08,20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-08 20:00:00
188,2023-08-08,21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-08 21:00:00
189,2023-08-08,22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-08 22:00:00
190,2023-08-08,23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-08 23:00:00
191,2023-08-08,0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-08 00:00:00

In [ ]:


df_tempdata = df_tempdata.dropna()


# In[45]:


#データが更新された時刻を取得

time = df_tempdata.Time.iloc[-1]


# In[46]:


df_tempdata = df_tempdata.iloc[[-1]].T[2:].rename(columns ={df_tempdata.index[-1] : 'hot_index'}).reset_index()
df_tempdata = df_tempdata.rename(columns = {'index':'amdno'})
df_tempdata['time'] = time


# In[47]:


df_tempdata['amdno'] = df_tempdata['amdno'].astype(int)


# In[48]:


df_merge = pd.merge(df_tempdata, df_location_data, on = 'amdno')


# In[49]:


df_merge.to_csv("./data/hot_index.csv", index = False)